doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Top&Views
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
      
    style.
      body {
      min-width:768px;
      }
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      .container {
      width:100%;
      margin-left:0px;
      padding-left:0px;
      }
      #header{
      text-align:center;
      }
      h1 {
      font-family:roboto-thin;
      font-size:4vw;
      display:inline;
      }
      h3{
      font-family:roboto-thin;
      text-transform:uppercase;
      font-size:2vw;
      color:#ddd;
      }
      h2 {
      font-size:2vw;
      font-family: arial,sans-serif;
      color:#333;
      font-weight:normal;
      }
      #menu {
      position:fixed;
      height:100%;
      left:0px;
      background-color:#252525;
      padding-left:0px;
      }
      #logo {
      text-align:center;
      padding-top:1vh;
      }
      p {
      text-indent:2vw;
      }
      #whybutton {
      cursor:pointer;
      background-color:#2c2c2c;
      }
      #jobsbutton {
      cursor:pointer;
      }
      .row {
      margin-left:0px;
      }
      .col-xs-10 {
      padding-left:0px;
      }   
  body
    .container
      .row
        #menu.col-xs-2
          #logo.row
            .col-sx-12
              h1(style='font-size:5vw; color:#ddd;font-family:attentica;')
                | Top
                span(style='color:#ff9900;') &amp;
                | Views
          .row(style='border-bottom:1px solid #1c1c1c;')
            .col-xs-12
          |        
          #whybutton.row
            .col-xs-12
              h3 &Zcy;&acy;&chcy;&iecy;&mcy;? 
          |        
          #jobsbutton.row(style='border-top:1px solid #2c2c2c;')
            .col-xs-12
              h3 &Vcy;&acy;&kcy;&acy;&ncy;&scy;&icy;&icy;
        |      
        #jobs.col-xs-10.col-xs-offset-2(style='background-color:#eee;overflow:auto;display:none;')
          .row(style='background-color:white;padding-left:1vw;padding-top:5vh;padding-bottom:5vh;')
            .col-xs-12(style='padding-left:5vw;')
              h1 &Ncy;&acy;&mcy; &ncy;&ucy;&zhcy;&iecy;&ncy;
          |       
          .row
            .col-xs-12(style='padding-left:3vw;padding-top:3vh;padding-bottom:3vh;')
              h2
                p(style='text-indent:0px;') 1. &Mcy;&iecy;&ncy;&iecy;&dcy;&zhcy;&iecy;&rcy; &vcy; &Pcy;&icy;&tcy;&iecy;&rcy;&iecy;. &Dcy;&icy;&kcy;&acy;&yacy; &acy;&dcy;&iecy;&kcy;&vcy;&acy;&tcy;&ncy;&ocy;&scy;&tcy;&softcy;, &pcy;&rcy;&ocy;&khcy;&lcy;&acy;&dcy;&ncy;&ycy;&iecy; &zcy;&vcy;&ocy;&ncy;&kcy;&icy; &icy; &rcy;&ucy;&kcy;&icy; &icy;&zcy; &pcy;&lcy;&iecy;&chcy;. 
                |          
                p(style='text-indent:0px;')
                  | 2. &Pcy;&acy;&rcy;&acy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&ocy;&vcy; &tcy;&acy;&mcy; &zhcy;&iecy;. Canon 5D (&icy;&lcy;&icy; &dcy;&rcy;&ucy;&gcy;&ocy;&jcy; &fcy;&ucy;&lcy;-&fcy;&rcy;&iecy;&jcy;&mcy;), &shcy;&icy;&rcy;&ocy;&kcy;&ocy;&ucy;&gcy;&ocy;&lcy;&softcy;&ncy;&ycy;&jcy; &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&icy;&vcy; &zhcy;&iecy;&lcy;&acy;&tcy;&iecy;&lcy;&iecy;&ncy;.
        |      
        #why.col-xs-10.col-xs-offset-2(style='background-color:#eee;overflow:auto;')
          .row(style='background-color:white;padding-left:1vw;padding-top:5vh;padding-bottom:5vh;')
            .col-xs-12(style='padding-left:5vw;')
              h1 &Vcy;&ycy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy; &dcy;&ocy; &scy;&icy;&khcy; &pcy;&ocy;&rcy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&icy; &pcy;&ocy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&iecy;&tcy;&iecy; ?
          |     
          |     
          .row
            .col-xs-12(style='padding-left:3vw;padding-top:3vh;padding-bottom:3vh;')
              h2
                p
                  | &Pcy;&acy;&ncy;&ocy;&rcy;&acy;&mcy;&ycy; &icy; &vcy;&icy;&rcy;&tcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &tcy;&ucy;&rcy;&ycy; &pcy;&iecy;&rcy;&iecy;&dcy;&acy;&yucy;&tcy; &ocy;&bcy;&hardcy;&iecy;&mcy; &icy; &scy;&tcy;&rcy;&ucy;&kcy;&tcy;&ucy;&rcy;&ucy; &pcy;&rcy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&scy;&tcy;&vcy;&acy; &ncy;&acy;&mcy;&ncy;&ocy;&gcy;&ocy; &lcy;&ucy;&chcy;&shcy;&iecy;, &chcy;&iecy;&mcy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&icy;. &Vcy; &tcy;&acy;&kcy;&icy;&khcy; &scy;&fcy;&iecy;&rcy;&acy;&khcy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy; &kcy;&acy;&kcy;: 
                  ul
                    li &gcy;&ocy;&scy;&tcy;&icy;&ncy;&iecy;&chcy;&ncy;&ycy;&jcy;
                    |  
                    |         
                    li &rcy;&iecy;&scy;&tcy;&ocy;&rcy;&acy;&ncy;&ncy;&ycy;&jcy;
                    |         
                    li &rcy;&acy;&zcy;&vcy;&lcy;&iecy;&kcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&jcy;
                    |         
                    li &tcy;&ucy;&rcy;&icy;&scy;&tcy;&scy;&kcy;&icy;&jcy;
                    |  
                    |         
                    li &mcy;&iecy;&dcy;&icy;&tscy;&icy;&ncy;&acy;
                    |         
                    li &dcy;&icy;&zcy;&acy;&jcy;&ncy; &icy; &scy;&tcy;&rcy;&ocy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy;
                  | &gcy;&dcy;&iecy; &icy;&ncy;&tcy;&iecy;&rcy;&softcy;&iecy;&rcy; &chcy;&acy;&scy;&tcy;&ocy; &icy;&mcy;&iecy;&iecy;&tcy; &rcy;&iecy;&shcy;&acy;&yucy;&shcy;&iecy;&iecy; &zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&iecy; &dcy;&lcy;&yacy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy; &pcy;&rcy;&icy; &vcy;&ycy;&bcy;&ocy;&rcy;&iecy; &mcy;&iecy;&zhcy;&dcy;&ucy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;&mcy;&icy;,
          |          
          .row(style='background-color:white;padding-top:5vh;padding-bottom:5vh;')
            .col-xs-1
              h1(style='font-family:attentica;font-size:8vw;') 1
            |          
            .col-xs-11(style='padding-left:0px;')
              h1
                | &zcy;&acy;&mcy;&iecy;&ncy;&acy; &fcy;&ocy;&tcy;&ocy;&mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&ocy;&vcy; &vcy;&icy;&rcy;&tcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy;&icy; &tcy;&ucy;&rcy;&acy;&mcy;&icy; &pcy;&ocy;&vcy;&ycy;&shcy;&acy;&iecy;&tcy; &ncy;&acy;&gcy;&lcy;&yacy;&dcy;&ncy;&ocy;&scy;&tcy;&softcy;
          |          
          .row
            .col-xs-12(style='padding-left:3vw;padding-top:3vh;padding-bottom:3vh;')
              h2
                | &icy; &ucy;&scy;&icy;&lcy;&icy;&vcy;&acy;&iecy;&tcy; &vcy;&pcy;&iecy;&chcy;&acy;&tcy;&lcy;&iecy;&ncy;&icy;e &ocy;&tcy; &dcy;&iecy;&mcy;&ocy;&ncy;&scy;&tcy;&rcy;&icy;&rcy;&ucy;&iecy;&mcy;&ycy;&khcy; &pcy;&rcy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&scy;&tcy;&vcy;. 
                p
                  | &IEcy;&scy;&lcy;&icy; &vcy; &rcy;&acy;&mcy;&kcy;&acy;&khcy; &scy;&vcy;&ocy;&iecy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy; &vcy;&ycy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&lcy;&icy; &vcy; &vcy;&icy;&zcy;&ucy;&acy;&lcy;&softcy;&ncy;&ocy;&iecy; &ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&iecy;&ncy;&icy;&iecy; &pcy;&ocy;&mcy;&iecy;&shchcy;&iecy;&ncy;&icy;&jcy;, &iecy;&scy;&lcy;&icy; &vcy;&acy;&shcy; &bcy;&icy;&zcy;&ncy;&iecy;&scy; &scy;&vcy;&yacy;&zcy;&acy;&ncy; &scy; &pcy;&rcy;&icy;&scy;&ucy;&tcy;&scy;&tcy;&vcy;&icy;&iecy;&mcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy; &vcy; &zhcy;&icy;&vcy;&ocy;&pcy;&icy;&scy;&ncy;&ycy;&khcy; &mcy;&iecy;&scy;&tcy;&acy;&khcy;, &iecy;&scy;&lcy;&icy; &vcy;&ycy; &acy;&rcy;&khcy;&icy;&tcy;&iecy;&kcy;&tcy;&ocy;&rcy; &icy;&lcy;&icy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&iecy;&rcy; &icy;&ncy;&tcy;&iecy;&rcy;&softcy;&iecy;&rcy;&ocy;&vcy; , &tcy;&ocy; &ocy;&zcy;&ncy;&acy;&kcy;&ocy;&mcy;&lcy;&iecy;&ncy;&icy;&iecy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy; &scy; &vcy;&acy;&shcy;&icy;&mcy; &pcy;&ocy;&rcy;&tcy;&fcy;&ocy;&lcy;&icy;&ocy; &icy;&lcy;&icy; &pcy;&ocy;&dcy;&bcy;&ocy;&rcy;&kcy;&ocy;&jcy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&jcy; &icy;&ncy;&fcy;&rcy;&acy;&scy;&tcy;&rcy;&ucy;&kcy;&tcy;&ucy;&rcy;&ycy; &fcy;&ocy;&rcy;&mcy;&icy;&rcy;&ucy;&iecy;&tcy; &ucy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy; &pcy;&iecy;&rcy;&vcy;&ocy;&iecy; &mcy;&ncy;&iecy;&ncy;&icy;&iecy; &ocy; &vcy;&acy;&scy;, &scy;&ocy;&pcy;&rcy;&ocy;&vcy;&ocy;&zhcy;&dcy;&acy;&iecy;&tcy; &kcy;&acy;&zhcy;&dcy;&ucy;&yucy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;&ucy;.
                p
                  | &CHcy;&iecy;&mcy; &ucy;&dcy;&ocy;&bcy;&ncy;&iecy;&iecy; &bcy;&ucy;&dcy;&iecy;&tcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ucy; &icy;&zcy;&ucy;&chcy;&icy;&tcy;&softcy; &vcy;&acy;&shcy;&icy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ncy;&ycy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&ycy;, &chcy;&iecy;&mcy; &ecy;&fcy;&fcy;&iecy;&kcy;&tcy;&ncy;&iecy;&iecy; &ocy;&ncy;&icy; &bcy;&ucy;&dcy;&ucy;&tcy;, &tcy;&iecy;&mcy; &bcy;&ocy;&lcy;&softcy;&shcy;&iecy; &vcy;&iecy;&rcy;&ocy;&yacy;&tcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;&icy;.
          |          
          .row(style='background-color:white;padding-top:5vh;padding-bottom:5vh;')
            .col-xs-1
              h1(style='font-family:attentica;font-size:8vw;') 2
            |          
            .col-xs-11(style='padding-left:0px;')
              h1
                | &Vcy;&icy;&rcy;&tcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &tcy;&ucy;&rcy;&ycy; - &scy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ycy;&jcy; &fcy;&ocy;&rcy;&mcy;&acy;&tcy; &pcy;&ocy;&rcy;&tcy;&fcy;&ocy;&lcy;&icy;&ocy;
          |          
          .row
            .col-xs-12(style='padding-left:3vw;padding-top:3vh;padding-bottom:3vh;')
              h2
                p
                  | &Mcy;&ycy; &dcy;&iecy;&lcy;&acy;&iecy;&mcy; &vcy;&icy;&rcy;&tcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &tcy;&ucy;&rcy;&ycy; &icy; &pcy;&acy;&ncy;&ocy;&rcy;&acy;&mcy;&ycy; &dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&ycy;&mcy;&icy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&ucy; &lcy;&yucy;&bcy;&ocy;&gcy;&ocy; &mcy;&acy;&scy;&shcy;&tcy;&acy;&bcy;&acy; &icy; &chcy;&acy;&scy;&tcy;&ncy;&ycy;&mcy; &lcy;&icy;&tscy;&acy;&mcy; &ucy;&scy;&tcy;&acy;&ncy;&acy;&vcy;&lcy;&icy;&vcy;&acy;&yacy; &scy;&acy;&mcy;&ucy;&yucy; &ncy;&icy;&zcy;&kcy;&ucy;&yucy; &tscy;&iecy;&ncy;&ucy;, &scy;&pcy;&ocy;&scy;&ocy;&bcy;&scy;&tcy;&vcy;&ucy;&yacy; &rcy;&acy;c&pcy;&rcy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&iecy;&ncy;&tcy;&icy;&yucy; &icy; &pcy;&ocy;&pcy;&ucy;&lcy;&yacy;&rcy;&icy;&zcy;&acy;&tscy;&icy;&icy; &ecy;&tcy;&ocy;&jcy; &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&icy;.
          |       
          .row(style='background-color:white;padding-top:5vh;padding-bottom:5vh;')
            .col-xs-1
              h1(style='font-family:attentica;font-size:8vw;') 3
            |          
            .col-xs-11(style='padding-left:0px;')
              h1
                | &Ucy; &ncy;&acy;&scy; &scy;&mcy;&iecy;&shcy;&ncy;&ycy;&iecy; &tscy;&iecy;&ncy;&ycy;: 
                span(style='font-weight:bold') 1500
                |  &rcy;&ucy;&bcy;&lcy;&iecy;&jcy; - &vcy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy; &mcy;&icy;&ncy;&iecy;&rcy;&acy;&lcy;&kcy;&acy; &dcy;&ocy;&rcy;&ocy;&zhcy;&iecy; &scy;&tcy;&ocy;&icy;&tcy;.
          |          
          .row
            .col-xs-12(style='padding-left:3vw;padding-top:3vh;padding-bottom:3vh;')
              h2
                p
                  | &Icy;&ncy;&ncy;&ocy;&vcy;&acy;&tscy;&icy;&icy; &dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&ycy; &ncy;&iecy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &lcy;&icy;&dcy;&iecy;&rcy;&acy;&mcy; &rcy;&ycy;&ncy;&kcy;&acy;, &ocy;&bcy;&rcy;&acy;&shchcy;&acy;&jcy;&tcy;&iecy;&scy;&softcy; &kcy; &ncy;&acy;&mcy;, &bcy;&ucy;&dcy;&iecy;&mcy; &rcy;&acy;&dcy;&ycy; &pcy;&ocy;&scy;&pcy;&ocy;&scy;&ocy;&bcy;&scy;&tcy;&vcy;&ocy;&vcy;&acy;&tcy;&softcy; &pcy;&rcy;&ocy;&gcy;&rcy;&iecy;&scy;&scy;&ucy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy; &icy; &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&jcy; , &ocy;&bcy;&ocy;&scy;&tcy;&rcy;&yacy;&yucy;&shchcy;&iecy;&mcy;&ucy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&iecy;&ncy;&tscy;&icy;&yucy; &icy; &zcy;&acy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&yucy;&shchcy;&iecy;&mcy;&ucy; &vcy;&ycy;&pcy;&ucy;&scy;&kcy;&acy;&tcy;&softcy; &vcy;&scy;&iecy; &bcy;&ocy;&lcy;&iecy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ycy;&iecy; &icy; &fcy;&ucy;&ncy;&kcy;&tscy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;.
          |            
          .row(style='background-color:#5fd89e;padding-top:5vh;padding-bottom:5vh;')
            .col-xs-1
              h1(style='font-family:attentica;font-size:8vw;') 4
            |          
            .col-xs-11(style='padding-left:0px;')
              h1(style='color:white;')
                | &Icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &ncy;&ocy;&vcy;&iecy;&jcy;&shcy;&icy;&khcy; &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&jcy; &ocy;&chcy;&iecy;&ncy;&softcy; &khcy;&ocy;&rcy;&ocy;&shcy;&ocy; &vcy;&lcy;&icy;&yacy;&iecy;&tcy; &ncy;&acy; &icy;&mcy;&icy;&dcy;&zhcy;.
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/bootstrap/js/bootstrap.min.js')
    |     
    script.
      $('#whybutton').click(function(){
      if($('#why').css("display") === 'none')
      {$('#whybutton').css("background-color","#2c2c2c");
      $('#jobsbutton').css("background-color","#252525");
      $('#why').css("display","block");
      $('#jobs').css("display","none");
      }
      });
      $('#jobsbutton').click(function(){
      if($('#jobs').css("display") === 'none')
      {$('#jobsbutton').css("background-color","#2c2c2c");
      $('#whybutton').css("background-color","#252525");
      $('#jobs').css("display","block");
      $('#why').css("display","none");
      }
      });
      $("#logo").click(function(){
      window.location='http://topandviews.ru';
      });
