doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title ADMIN
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet') 
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      h1 {
      font-size:4vw;
      font-family:roboto-thin;
      }
      h2 {
      font-family:br;
      font-size:2vw;
      }
      #header {
      }
      .item {
      background-color:#eee;
      border-top:1px solid #ddd;
      cursor:pointer;
      border-right:1px solid #ddd;
      }
      .item:hover {
      background-color:#ddd;
      }
      .count{
        background-color:#eee;
        border-top:1px solid #ddd;
      }   
  body
    .container
      #header.row
        .col-xs-12
          h1  ADMIN 
      |      
      .row
        .col-xs-6
          #orders.row
            .col-xs-9.item
              h2 &Zcy;&acy;&kcy;&acy;&zcy;&ycy;
            |           
            .col-xs-3.count
              h2 #{orders}
          |         
          #hostels.row
            .col-xs-9.item
              h2 &KHcy;&ocy;&scy;&tcy;&iecy;&lcy;&ycy;
            |           
            .col-xs-3.count
              h2 #{hostels}
          |         
          #users.row
            .col-xs-9.item
              h2 &Pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&icy;
            |           
            .col-xs-3.count
              h2 #{users}
          |         
          #husers.row
            .col-xs-9.item
              h2 &Pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&icy; (&khcy;)
            |           
            .col-xs-3.count
              h2 #{husers}
        .col-xs-6  
          .row
            #simulate.col-xs-12.item(style='border-left:1px solid #ddd;')
              h2 СИмулировать заказ
          .row
            col-xs-12.item(style='border-left:1px solid #ddd;')
              h2(style='color:#eee') :-) ПУСТО
          .row
            col-xs-12.item(style='border-left:1px solid #ddd;')
              h2(style='color:#eee') :-) ПУСТО       
          .row
            #addhuser.col-xs-12.item(style='border-left:1px solid #ddd;')
              h2 Добавить     
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/bootstrap/js/bootstrap.min.js')
    |     
    script.
      $('#orders').click(function(){
      window.location = 'http://topandviews.ru/admin/orders'
      });
      $('#hostels').click(function(){
      window.location = 'http://topandviews.ru/admin/hostels'
      });
      $('#users').click(function(){
      window.location = 'http://topandviews.ru/admin/users'
      });
      $('#husers').click(function(){
      window.location = 'http://topandviews.ru/admin/hostelusers'
      });
      $('#simulate').click(function(){
      window.location = 'http://topandviews.ru/ququ'
      });
      $('#addhuser').click(function(){
      window.location = 'http://topandviews.ru/addhosteluser'
      });
