doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style
     :css
      @font-face {
      font-family:code;
      src: url('/bootstrap/fonts/CODElight.otf');
      }
      body {
      background-color:#ddd;
      min-width:480px;
      }
      .row {
      padding:0px;
      margin:0px;
      }
      h5 {
      font-family:code;
      font-size:8vw;
      padding:0px;
      text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
      }
      h2 {
      font-family:code;
      font-size:3vw;
      color:gray;
      }
      a {
      color:#333;
      }
      a:focus, a:hover{
      outline:none;
      text-decoration: none;
      }
      .container {
      width:100%;
      height:100%;
      padding:60px;
      padding-top:0px;
      padding-bottom:5px;
      }
  body
    .container

     each result , i in sr
      #srblock.row
        .col-xs-6.col-xs-offset-2(style='padding: 0px;')
          #placename.row(style='border: 1px solid white;')
            .col-xs-12
              h5 
               #{result.nameen} 
            #preview.row
              .col-xs-12(style='background-color: #008080; height: 300px;')
        .col-xs-2(style='height: 441px; text-align: center; background-color: gray;')
          form(role='form', method='post')
            input.form-control(type='text', style='margin-top: 20px;', name='placename', value='#{result.placename}')
            .btn-group-vertical(style='margin-top: 200px;')
              button.btn.btn-lg.btn-danger(formaction='/adminsr/remove', type='submit') Remove
              button.btn.btn-lg.btn-warning(formaction='/adminsr/updatepage', type='submit') Update
      