doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style
     :css
      @font-face {
      font-family:code;
      src: url('/bootstrap/fonts/CODElight.otf');
      }
      body {
      min-width:480px;
      }
      h5 {
      font-family:code;
      font-size:8vw;
      padding:0px;
      }
      h2 {
      font-family:code;
      font-size:3vw;
      color:gray;
      display:inline;
      }
      a {
      color:#333;
      }
      a:focus, a:hover{
      outline:none;
      text-decoration: none;
      }
      .container {
      width:100%;
      height:100%;
      padding:60px;
      padding-top:0px;
      padding-bottom:5px;
      }
      img {
      width:100%;
      height:100%;
      }
      #criteria {
      margin-top:20px;
      }
      .form-control {
      height:inherit;
      }
  body
    .container
      #logo.row
        .col-xs-2.col-xs-offset-5
          img(src='images/tavlogoblue.svg')
      #separator.row
        .col-xs-6.col-xs-offset-3(style='border-top: 1px solid #333;')
      #header.row
        .col-xs-12(style='text-align: center;')
          h5  Advanced Search 
      #separator.row
        .col-xs-6.col-xs-offset-3(style='border-top: 1px solid #333;')
      #criteria.row
        .col-xs-8.col-xs-offset-2(style='background-color: #ddd; padding: 20px;')
          form(role='form', action='/advancedsearch', method='POST')
            .form-group
              label(for='rooftop')
                h2
                  | Rooftop  
                  h2
              input#rooftop(type='checkbox', name='rooftop')
            .form-group
              label(for='terrace')
                h2
                  | Terrace  
                  h2
              input#terrace(type='checkbox', name='terrace')
            .form-group
              label(for='shisha')
                h2
                  | Shisha  
                  h2
              input#shisha(type='checkbox', name='shisha')
            .form-group
              label(for='cigars')
                h2
                  | Cigars  
                  h2
              input#cigars(type='checkbox', name='cigars')
            .form-group
              label(for='city')
                h2
                  | City  
                  h2
                   select#city(name='city')
                     option(value='')
                     option(value='moscow') Moscow
                     option(value='london') London
                     option(value='newyork') New York
                     option(value='paris') Paris
                     option(value='losangeles') Los Angeles
                     option(value='mexico') Mexico
            button.btn-lg.btn-success.form-control(style='border-radius: 0px; margin-bottom: 20px;', type='submit')
              h2(style='color: white;')
                | Submit
                h2
    //
       jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //
       Include all compiled plugins (below), or include individual files as needed 
    script(src='js/bootstrap.min.js')
