doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      .container {
      width:100%;
      padding:0px;
      padding-top:10vw;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      h5 {
      font-family:this;
      font-size:12vw;
      padding:0px;
      color:#333;
      }
  body
    .container
      .row
        .col-xs-12(style='text-align: center;')
          h5 Under construction
