doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:skinny;
      src: url('/bootstrap/fonts/CODElight.otf');
      }
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      body {
      background-color:white;
      min-width:480px;
      }
      .container {
      width:100%;
      padding:0px;
      padding-bottom:1vw;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      #propertyhotels {
      cursor:pointer;
      }
      #propertyhotels:hover h5 {
      color:white;
      }
      #propertyhotels:hover {
      background-color:#c35204;
      }
      .bb {
      border-bottom:0.3vw solid #ddd;
      background-color:white;
      }
      .bt {
      border-top:0.3vw solid #ddd;
      }
      #propertytype {
      border-bottom:0.3vw solid #ddd;
      }
      h5 {
      font-family:skinny;
      font-size:7vw;
      color:#333;
      padding:0px;
      }
      h2 {
      font-family:this;
      margin-top:0px;
      margin-bottom:0px;
      font-size:4vw;
      color:#333;
      font-weight:100;
      }
      h4{
      font-size:2.8vw;
      font-family:this;
      }
      #buy {
      background-color:#80aba9;
      }
      #stay:hover {
      background-color:#80aba9;
      }
      #sell:hover {
      background-color:#80aba9;
      }
      a:active, a:hover, a:focus {
      text-decoration:none;
      outline:none;
      }
      select {
      font-family:this;
      font-size:7vw;
      background-color:#84ace0;
      border:0px;
      width:100%;
      }
      select:focus,select:active {
      outline:none;
      text-decoration:none;
      }
      .gray {
      background-color:#ddd;
      }
      #search {
      padding-bottom:1vw;
      background-color:#a6c6ef;
      }
      .form-group {
      display:inline-block;
      margin:2vw;
      }
      .btn-lg {
      padding:0px;
      border-radius:0px;
      font-size:inherit;
      height:inherit;
      margin-top:2vw;
      background-color:#dde6f2;
      }
      .sidemargin {
      margin-left:1vw;
      margin-right:1vw;
      }
      .middle {
      background-color:#a6c6ef;
      }
      #showmap {
      cursor:pointer;
      }
      .green {
      background-color:#81ea93;
      }
      .lightgreen {
      background-color:#b8f4c3;
      }
      .sidepadding {
      padding-left:6vw;
      padding-right:6vw;
      }
      .sidemargin {
      margin-left:1vw;
      margin-right:1vw;
      }
      .fivemargin {
      margin-right:5vw;
      margin-left:5vw;
      }
      .sixmargin {
      margin-left:6vw;
      margin-right:6vw;
      }
      #propertytypelower {
      background-color:#84ace0;
      }
      #city {
      background-color:#84ace0;
      }
      .in {
      text-align:center;
      background-color:#84ace0;
      }
      .mt {
      height:2vw;
      }
      label {
      font-family:this;
      font-size:3vw;
      color:gray;
      }
  body
    .container
      script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js')
      #propertyhotels.row.bb.fivemargin
        .col-xs-2
          a(href='/')
            span.glyphicon.glyphicon-chevron-left(style='color: #ddd; font-size: 5vw; margin: 1vw;')
        .col-xs-10(style='text-align: center;')
          a(href='/')
            h5(style='Display: inline;') Property & Hotels
      #propertytype.row.fivemargin
        #buy.col-xs-4(style='border-right: 0.3vw solid #ddd;')
          a(href='/property/buy')
            h2(style='color: gray;') Buy
        #stay.col-xs-4(style='border-right: 0.3vw solid #ddd;')
          a(href='/property/stay')
            h2(style='color: gray;') Stay
        #sell.col-xs-4
          a(href='/property/sell')
            h2(style='color: gray;') Sell
      #search.row.sixmargin
        .col-xs-12(style='padding: 0px;')
          form(role='form', method='POST', action='#')
            #propertytypelower.row
              .col-xs-12(style='text-align: center;')
                select#types(name='types')
                  option(value='flat') Flat
                  option(value='penthouse') Penthouse
                  option(value='apartment') Apartment
                  option(value='house') House
                  option(value='office') Office
            .row.in
              .col-xs-5
                .row.bb.mt.in
                .row
              .col-xs-2
                h2(style='color: gray;') in
              .col-xs-5
                .row.bb.mt.in
                .row
            #city.row
              .col-xs-12
                select#types(name='types')
                  option(value='moscow') Moscow
                  option(value='london') London
                  option(value='stpetersburg') St.Petersburg
                  option(value='newyork') New York
                  option(value='losangeles') los angeles
            .row(style='padding-left: 1vw; padding-right: 1vw; padding-top: 1vw;')
              .col-xs-3(style='border-right: 0.3vw solid #ddd;')
                .form-group
                  label
                    h2(style='color: gray;') Area
              .col-xs-9
                .form-group
                  label(for='scaleone')
                    h2 &lt 100 
                  input#scaleone(type='checkbox', name='scaleone')
                .form-group
                  label(for='scaletwo')
                    h2 100-300 
                  input#scaletwo(type='checkbox', name='scaletwo')
                .form-group
                  label(for='scalethree')
                    h2 &gt300 
                  input#scalethree(type='checkbox', name='scalethree')
            .row(style='border-bottom: 0.3vw solid #ddd; margin-left: 1vw; margin-right: 1vw;')
            .row(style='padding-left: 1vw; padding-right: 1vw;')
              .col-xs-3(style='border-right: 0.3vw solid #ddd;')
                .form-group
                  label
                    h2(style='color: gray;') Price
              .col-xs-9
                .form-group
                  label(for='scaleone')
                    h2 &lt 5m$ 
                  input#scaleone(type='checkbox', name='scaleone')
                .form-group
                  label(for='scaletwo')
                    h2 5-10m$ 
                  input#scaletwo(type='checkbox', name='scaletwo')
                .form-group
                  label(for='scalethree')
                    h2 &gt 10m$ 
                  input#scalethree(type='checkbox', name='scalethree')
            .row
              .col-xs-12(style='padding-right: 1vw; padding-left: 1vw;')
                button.btn-lg.form-control(type='submit')
                  h2(style='margin-top: 1vw; margin-bottom: 1vw; color: #c35204;') Find it
      #showmap.row.bt.fivemargin
        .col-xs-10
          h5(style='display: inline;') Look on map
        .col-xs-2
          span.glyphicon.glyphicon-chevron-down(style='color: gray; font-size: 5vw; margin: 1vw;')
      #map.row(style='display: none; text-align: center;')
        .col-xs-12(style='height: 100vh; padding: 0px;')
          .row
            #mapitself.col-xs-12(style='border-top: 0.3vw solid #333; border-bottom: 0.3vw solid #333; margin: 0px; padding: 0px; height: 100vh;')
      #footer.row.bt.fivemargin
        .col-xs-12(style='text-align: center;')
          a(style='color: gray;', href='/')
            h4(style='font-weight: lighter;') Top and views.
    //
       jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //
       Include all compiled plugins (below), or include individual files as needed 
    script(src='/js/bootstrap.min.js')
    script.
      $('#showmap').click(function() {
      $('#map').slideToggle('slow');
      var map = L.mapbox.map('mapitself', 'jesusjesus.ie7kb67o').setView([55.753,  37.622], 14);
      map.scrollWheelZoom.disable();
      if ($("#map").is(':visible')) {
      $("html, body").animate({scrollTop: $("#map").offset().top});
      }
      });
