doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:code;
      src: url('/bootstrap/fonts/Intro-Thin-Caps.ttf');
      }
      .container {
      width:100%;
      padding:0px;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      .col-xs-6 {
      margin:0px;
      padding:0px;
      }
      .col-xs-5 {
      margin:0px;
      padding:0px;
      }
      .col-xs-2 {
      margin:0px;
      padding:0px;
      }
      h5 {
      font-family:code;
      font-size:7vw;
      padding:0px;
      color:#333;
      margin-top:10vh;
      }
      .halfed {
      text-align:center;
      height:100%;
      }
      #buy {
      border-right:4px solid #ddd;
      cursor:pointer;
      }
      #buy:hover {
      background-color:#ccccff;
      }
      #stay {
      border-right:4px solid #ddd;
      cursor:pointer;
      }
      #stay:hover {
      background-color:#ccccff;
      }
      #sell {
      border-right:4px solid #ddd;
      cursor:pointer;
      }
      #sell:hover {
      background-color:#ccccff;
      }
      .bb {
      border-bottom:0.3vw solid #ddd;
      }
      .gray {
      color:#ddd;
      }
  body
    .container
      .row.bb.halfed
        a(href='/#{lang}/property/buy')
          #buy.col-xs-12(style='height: 33.3vh;')
            h5 Купить
      .row.bb.halfed
        a(href='/#{lang}/property/stay')
          #stay.col-xs-12(style='height: 33.3vh;')
            h5
              | Снять
              span.gray \
              | Отели
      .row.bb.halfed
        a(href='/#{lang}/property/sell')
          #sell.col-xs-12(style='height: 33.3vh;')
            h5 Продать 
