doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:code;
      src: url('/bootstrap/fonts/Intro-Thin-Caps.ttf');
      }
      .container {
      width:100%;
      padding:0px;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      .col-xs-6 {
      margin:0px;
      padding:0px;
      }
      .col-xs-5 {
      margin:0px;
      padding:0px;
      }
      .col-xs-2 {
      margin:0px;
      padding:0px;
      }
      h5 {
      font-family:code;
      font-size:7vw;
      padding:0px;
      color:#333;
      }
      #halfed {
      text-align:center;
      height:100%;
      }
      .frame {
      position:absolute;
      margin-top:1.5vw;
      margin-left:1.5vw;
      width:97%;
      height:97%;
      border:0px solid white;
      z-index:7;
      }
      #buy {
      border-right:0.3vw solid #ddd;
      }
      #stay {
      border-right:0.3vw solid #ddd;
      }
      #buy:hover {
      background-color:#ccccff;
      }
      #stay:hover {
      background-color:#ccccff;
      }
      #sell:hover {
      background-color:#ccccff;
      }
  body
    .container
      #halfed.row
        a(href='/#{lang}/property/buy')
          #buy.col-xs-4(style='height: 100vh;')
            h5(style='margin-top: 45vh;')  Купить
        a(href='/#{lang}/property/stay')
          #stay.col-xs-4(style='height: 100vh;')
            h5(style='margin-top: 45vh;')  Снять
        a(href='/#{lang}/property/sell')
          #sell.col-xs-4(style='height: 100vh;')
            h5(style='margin-top: 45vh;') Продать 