doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    
    style
     :css
      @font-face {
      font-family:code;
      src: url('/bootstrap/fonts/CODElight.otf');
      }
      body {
      min-width:480px;
      }
      h5 {
      font-family:code;
      font-size:8vw;
      color:#333;
      padding:0px;
      }
      h2 {
      font-family:code;
      font-size:3vw;
      color:gray;
      }
      a {
      color:white;
      }
      a:focus, a:hover{
      outline:none;
      text-decoration: none;
      }
      .container {
      width:100%;
      padding:5vw;
      text-align:center;
      }
      .city {
      border-top:1px solid #333;
      }
      #moscow:hover {
      background-color:#ccccff;
      }
      #london:hover {
      background-color:#ccff99;
      }
      #newyork:hover {
      background-color:#cccc99;
      }
      #mexico:hover {
      background-color:#ccffcc;
      }
      #LA:hover {
      background-color:#ffccff;
      }
      #spb:hover {
      background-color:#ccccff;
      }
      #vancouver:hover {
      background-color:#ccccff;
      }

  body
    .container
      #moscow.row
        .col-xs-12
          a(href='/geo/moscow')
            h5 Moscow
      #london.row.city
        .col-xs-12
          a(href='/geo/london')
            h5 London  
      #newyork.row.city
        .col-xs-12
          a(href='/geo/ny')
            h5 NY          
      #spb.row.city
        .col-xs-12
          a(href='/geo/spb')
            h5 SPB
      #mexico.row.city
        .col-xs-12
          a(href='/geo/mexico')
            h5 Mexico
      #LA.row.city
        .col-xs-12
          a(href='/geo/la')
            h5 LA
      #vancouver.row.city
        .col-xs-12
          a(href='/geo/vancouver')
            h5 Vancouver
