doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:skinny;
      src: url('/bootstrap/fonts/CODElight.otf');
      }
      body {
      background-color:white;
      min-width:480px;
      }
      .container {
      width:100%;
      padding-top:0px;
      padding:5vw;
      padding-bottom:1vw;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      h1 {
      font-family:skinny;
      font-size:11vw;
      color:#333;
      padding:0px;
      text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
      }
      h5 {
      font-family:skinny;
      font-size:8vw;
      color:#333;
      padding:0px;
      }
      h2 {
      margin-top:1vw;
      margin-bottom:1vw;
      font-size:3vw;
      color:#333;
      }
      h3 {
      color:white;
      margin:30px;
      text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
      }
      h4{
      font-size:2.8vw;
      font-family:skinny;
      }
      .center {
      text-align:center;
      }
      .right {
      text-align:right;
      }
      .left {
      text-align:left;
      }
      img {
      width:100%;
      height:100%;
      }
      .form-group {
      text-align:right;
      margin-bottom:-20px;
      }
      }
      .searchglyphcolor {
      margin:auto;
      color:#333;
      text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
      }
      .fcextra {
      height:9.4vw;
      border-radius:0px;
      text-align:left;
      border:none;
      font-family:skinny;
      font-size:8vw;
      box-shadow:none;
      outline: none;
      border-bottom:1px solid white;
      padding:0px;
      color:#333;
      }
      .fcextraselect {
      height:50px;
      border-radius:0px;
      background-color:gray;
      border:none;
      font-size:30px;
      }
      .fcextraselect:focus{
      border:none;
      }
      input {
      padding-top:2px;
      padding-bottom:2px;
      }
      .form-control:focus {
      border-bottom:1px solid white;
      box-shadow:none;
      outline: none;
      }
      .form-control:active {
      box-shadow:none;
      outline: none;
      }
      .xs12add {
      height:10vw;
      border-top:1px solid white;
      border-bottom:1px solid white;
      }
      span {
      margin-right:100px;
      }
      a {
      color:white;
      }
      a:focus, a:hover{
      color:#c35403;
      outline:none;
      text-decoration: none;
      }
      .cityselect {
      border-radius:0px;
      height:70px;
      }
      li {
      font-weight:900;
      color:#ddd;
      font-size:2vw;
      margin:2px;
      }
      ul {
      list-style-type:none;
      padding:0px;
      }
      .col-xs-3 {
      padding-right:1vw;
      padding-left:1vw;
      }
      .col-xs-2 {
      padding:0px;
      }
      .col-lg-4 {
      padding:0px;
      }
      .col-lg-8 {
      padding:0px;
      }
      .colorchange {
      background-color:#ddd;
      }
      .bordersides {
      border-left:1px solid #333;
      border-right:1px solid #333;
      }
      #logo {
      padding-top:30px;
      border-top:1px solid #333;
      }
      #tour {
      border-bottom:1px solid #333;
      }
      .red {
      color:#c30000
      }
      #newsblock {
      background-color:#98bc8d;
      }
      #new {
      border-top:1px solid #333;
      border-bottom:1px solid #333;
      }
      #new:hover {
      background-color:#80aba9;
      }
      #new:hover h5 {
      color:#333;
      }
      #top {
      border-bottom:1px solid white;
      }
      #toplists {
      background-color:#c7be83;
      }
      #separator {
      padding:15px;
      }
      .has-feedback {
      height:10vw;
      }
      #maphead {
      border-bottom:1px solid white;
      }
      #footer {
      background-color:white;
      }
      #footerlinks{
      font-size:1vw;
      background-color:#ddd;
      border-top:1px solid #333;
      border-bottom:1px solid #333;
      }
      #map {
      background-color:gray;
      }
      #showmap {
      background-color: #2b4140;
      }
      #property {
      border-bottom:1px solid #333;
      }
      #property:hover {
      background-color:#80aba9;
      }
      #property:hover h5{
      color:#333;
      }
      #yachtsjets {
      border-bottom:1px solid #333;
      }
      #yachtsjets:hover {
      background-color:#80aba9;
      }
      #yachtsjets:hover h5{
      color:#333;
      }
      #login {
      border-right:1px solid #333;
      }
      #partners {
      border-right:1px solid #333;
      }
      #hr {
      border-right:1px solid #333;
      }
      #login:hover{
      background-color:#cccc99;
      }
      #partners:hover{
      background-color:#e1b6bc;
      }
      #contact:hover{
      background-color:#a4cab1;
      }
      #hr:hover{
      background-color:#a5aac5;
      }
      #advsearch {
      border-bottom:1px solid #333;
      }
      #advsearch:hover {
      background-color:#80aba9;
      }
      #advsearch:hover h5{
      color:#333;
      }
      #campuses {
      border-bottom:1px solid #333;
      }
      #campuses:hover{
      background-color:#80aba9;
      }
      #campuses:hover h5{
      color:#333;
      }
      #tour:hover #arrow-right {
      background-color:#32b4ba;
      }
      #tour:hover h4{
      color:#32b4ba;
      }
      #arrow-right {
      background-color:red;
      }
      .grayish {
      background-color:#e3dba9;
      }
  body
    //
       jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //
       Include all compiled plugins (below), or include individual files as needed 
    script(src='js/bootstrap.min.js')
    .container
      #logo.row.colorchange.bordersides
        .col-xs-4.col-xs-offset-4.colorchange
          img(src='/images/tavlogoblue.svg')
      #logotext.row.colorchange.bordersides
        .col-xs-12.colorchange(style='text-align: center;')
          h1
            | Top and views.
            h1
      #searchinput.row.colorchange.bordersides
        .col-xs-12.xs12add.colorchange(style='padding: 0px;')
          form(role='form', action='/search', method='post', name='search')
            .form-group.has-feedback.colorchange
              input.form-control.fcextra.colorchange(type='text')
              span.glyphicon.glyphicon-search.from-control-feedback.searchglyphcolor.colorchange(style='margin: auto; margin-right: 0.7vw; top: -8.5vw; font-size: 7vw;')
      #tour.row.colorchange.bordersides
        .col-xs-12(style='margin-bottom: 10px; margin-top: 10px;')
          a(href='/tour', style='color: red;')
            h4(style='display: inline;') What is this ? 
            #arrow-right(style='margin-top: -1vw; vertical-align: middle; display: inline-block; margin-right: auto; height: 3vw; width: 3vw; border-radius: 50%;')
              img(src='/images/arrow-right.png')
      #separatorone.row
        .col-xs-4.col-xs-offset-4(style='height: 30px; border-bottom: 1px solid #333;')
      #location.row
        .col-xs-12(style='text-align: center;')
          a(href='/geo')
            h5 Worldwide
            h2(style='font-family:skinny;') Select your city
      #separatorone.row
        .col-xs-4.col-xs-offset-4(style='height: 30px; border-top: 1px solid #333;')
      
       
      #property.row
      .col-xs-10
        a(href='/property')
          h5(style='margin-top: 3vw;') Property
      .col-xs-2(style='padding-right: 0px; padding-left: 4vw; padding-top: 4vw; padding-bottom: 4vw;')
        a(href='/property')
          div(style='background-color: #1e4e50; height: 5vw; width: 5vw; border-radius: 50%;')
            img(src='/images/arrow-right.png')
    #yachtsjets.row
      .col-xs-10
        a(href='/yachtsjets')
          h5(style='margin-top: 3vw;') Yachts & Jets 
      .col-xs-2(style='padding-right: 0px; padding-left: 4vw; padding-top: 4vw; padding-bottom: 4vw;')
        a(href='/yachtsjets')
          div(style='background-color: #1e4e50; height: 5vw; width: 5vw; border-radius: 50%;')
            img(src='/images/arrow-right.png')
    #advsearch.row
      .col-xs-10
        a(href='/advsearch')
          h5(style='margin-top: 3vw;') Advanced search
      .col-xs-2(style='padding-right: 0px; padding-left: 4vw; padding-top: 4vw; padding-bottom: 4vw;')
        a(href='/advsearch')
          div(style='background-color: #1e4e50; height: 5vw; width: 5vw; border-radius: 50%;')
            img(src='/images/arrow-right.png')
    #campuses.row
      .col-xs-10
        a(href='/campuses')
          h5(style='margin-top: 3vw;') Campuses
      .col-xs-2(style='padding-right: 0px; padding-left: 4vw; padding-top: 4vw; padding-bottom: 4vw;')
        a(href='/campusesl')
          div(style='background-color: #1e4e50; height: 5vw; width: 5vw; border-radius: 50%;')
            img(src='/images/arrow-right.png')
      #separatorone.row
        .col-xs-4.col-xs-offset-4(style='height: 20px;')
     
      #footerlinks.row
        #login.col-xs-3
          a(style='display: block; color: #333;', href='/login') Login
        #partners.col-xs-3
          a(style='display: block; color: #333;', href='/partners') Partners
        #hr.col-xs-3
          a(style='display: block; color: #333;', href='/hr') HR
        #contact.col-xs-3
          a(style='display: block; color: #333;', href='/contact') Contact
      #footer.row
        .col-xs-12(style='font-family: skinny; padding: 5px; text-align: center;')
          a(style='color: #333;', href='/')
            h4 Top and views.
      