html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top&Views
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css', rel='stylesheet')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    style
     :css
      body {
      min-width:768px;
      }
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      h1 {
      font-family:attentica;
      font-size:8vw;
      display:inline;
      margin-bottom:0px;
      line-height:6vw;
      }
      h3{
      font-family:br;
      font-size:2vw;
      margin-top:0px;
      margin-bottom:1vh;
      color:gray;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      .map{
      height:60vh;
      width:100%;
      background-color:#ddd;
      margin-right:auto;
      margin-left:auto;
      text-align:right;
      }
      input{
      font-family:arial;
      letter-spacing:1px;
      font-size:1.5vw;
      outline:none;!important
      box-shadow:none;!important
      -webkit-box-shadow:none;!important
      }
      #login {
      position:absolute;
      display:none;
      z-index:3000;
      background-color:transparent;
      margin-top:40vh;  
      width:100vw;
      }
      @media only screen
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait) 
      {
       h1{
       font-size:12vw;
       }
       h3{
       font-size:3vw;
       }
       .map{
       height:75vh;
       }
       h5{
       font-size:2vw;
       }
       #vphr{
       font-size:3vw;
       letter-spacing:2px;   
       }
       #vlgn{
       font-size:3vw;
       letter-spacing:2px;
       }
       #login {
       margin-left:5vw;
       }
      }
      @media only  screen
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : landscape) 
      {
       h1{
       font-size:9vw;
       }
       h3{
       font-size:2vw;
       }
       .map{
       height:70vh;
       }
       h5{
       font-size:2vw;
       }
       #vphr{
       font-size:3vw;
       letter-spacing:2px;   
       }
       #vlgn{
       font-size:3vw;
       letter-spacing:2px;
       }
       #login {
       margin-left:5vw;
       }
      }
      .container{
      z-index:0;
      }
      .row{
      padding:0px;
      margin:0px;
      width:100%;
      }
      h2 {
      font-size:2vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      #header{
      margin-top:2vw;
      text-align:center;
      -webkit-filter:grayscale(0);
      }
      #choice{
      text-align:center;
      margin-bottom:4vh;
      -webkit-filter:grayscale(0);
      }
      #choice1{
      text-align:center;
      -webkit-filter:grayscale(0);
      }
      #footer{
      background-color:black;
      text-align:center;
      margin-top:1vh;
      margin-bottom:1vh;
      -webkit-filter:grayscale(0);
      }
      #searchbutton:hover{
      background-color:#ddd;
      }
      #topbutton:hover{
      background-color:#ddd;
      }
      #loginbutton:hover{
      background-color:#ddd;
      }
      #loginb:hover {
      background-color:#eee;
      }
      #aboutbutton:hover{
      background-color:#ddd;
      }
      #main {
      -webkit-filter:grayscale(0);
      -webkit-filter:blur(0);
      z-index:2001;
      }
      .col-xs-1 {
      padding:0px;
      }
      .cursor {
      cursor:pointer;
      }
      h4 {
      font-weight:bold;
      font-family:br;
      font-size:4vw;
      }
      .view{
        margin-bottom:5vh;
      }
  body      
    #main.container(style='padding:0px;margin:0px; width:100%;')
      #header.row
        .col-xs-12
          .row
            .col-xs-4.col-xs-offset-4
              h1
                | TOP
                span(style='color: #ff9900;') &
                | VIEWS
              
          #choice.row
            .col-xs-4.col-xs-offset-4
              h3(style='display: inline;') Агенство панорамной фотографии
      .row
        .col-xs-12(style='padding: 0px; margin: 0px;')
          h4 Примеры:
      script.
        pano=new pano2vrPlayer("pano");
        pano.readConfigUrl("/xml/krasnaya.xml");
        pano2=new pano2vrPlayer("pano2");
        pano2.readConfigUrl("/xml/mgu.xml");
        pano3=new pano2vrPlayer("pano3");
        pano3.readConfigUrl("/xml/room.xml");
      .row.view
        .col-xs-12
          #pano
      .row.view
        .col-xs-12
          #pano2 
      .row.view
        .col-xs-12
          #pano3       

      
      #footer.row
        #searchbutton.col-xs-2.col-xs-offset-2.cursor
          h5 Поиск
        #topbutton.col-xs-2.cursor
          h5 Рейтинг
        #loginbutton.col-xs-2.cursor
          h5 Войти
        #aboutbutton.col-xs-2.cursor
          h5 Инфо
      script.

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    
