html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top&Views
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css', rel='stylesheet')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    style
     :css
      body {
      min-width:768px;
      }
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @media only screen
      and (min-device-width : 768px) 
      {
       h1{
       font-size:12vw;
       }
       h3{
       font-size:3vw;
       }
      }
      h1 {
      font-family:attentica;
      font-size:8vw;
      border-bottom:1px solid #333;
      display:inline;
      }
      .container{
      z-index:0;
      }
      .row{
      padding:0px;
      margin:0px;
      width:100%;
      }
      h3{
      font-family:br;
      font-size:2vw;
      }
      h2 {
      font-size:2vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      #header{
      margin-top:2vh;
      text-align:center;
      -webkit-filter:grayscale(0);
      }
      #choice{
      text-align:center;
      margin-bottom:4vh;
      -webkit-filter:grayscale(0);
      }
      #choice1{
      text-align:center;
      -webkit-filter:grayscale(0);
      }
      .map{
      height:60vh;
      width:100%;
      background-color:#ddd;
      margin-right:auto;
      margin-left:auto;
      text-align:right;
      }
      #footer{
      text-align:center;
      margin-top:1vh;
      margin-bottom:1vh;
      -webkit-filter:grayscale(0);
      }
      #searchbutton:hover{
      background-color:#ddd;
      }
      #topbutton:hover{
      background-color:#ddd;
      }
      #loginbutton:hover{
      background-color:#ddd;
      }
      #aboutbutton:hover{
      background-color:#ddd;
      }
      h6 {
      border:3px solid #ff9900;
      border-radius:10px;
      display:inline;
      padding-left:20px;
      padding-right:20px;
      }
      #mapitself {
      -webkit-filter:grayscale(0);
      }
      #main {
      -webkit-filter:grayscale(0);
      -webkit-filter:blur(0);
      z-index:2001;
      }
      .col-xs-1 {
      padding:0px;
      }
      .form-control:focus {
      outline:none;
      text-decoration:none;
      box-shadow:none;
      -webkit-box-shadow:none;
      }
      .form-control:active {
      outline:none;
      text-decoration:none;
      box-shadow:none;
      -webkit-box-shadow:none;
      }
      .form-control {
      height:8vh;
      border:0px;
      box-shadow:none;
      -webkit-box-shadow:none;
      }
      #login {
      position:absolute;
      display:none;
      z-index:3000;
      background-color:transparent;
      margin-top:40vh;  
      }
      button:focus {
      outline:none;
      }
      button:active {
      outline:none;
      }
      input{
      font-family:arial;
      letter-spacing:1px;
      font-size:1.5vw;
      border:1px solid white;!important
      outline:none;!important
      box-shadow:none;!important
      -webkit-box-shadow:none;!important
      }
      input:focus {
      outline:none;!important
      text-decoration:none;
      border:1px solid white;!important
      box-shadow:none;!important
      -webkit-box-shadow:none;!important
      }
      input:active {
      outline:none;!important
      text-decoration:none;
      border:1px solid white;!important
      box-shadow:none;!important
      -webkit-box-shadow:none;!important
      }
      #search {
      background-color:white;
      opacity:0.7;
      position:fixed;
      display:none;
      z-index:3000;
      background-color:transparent;
      padding-left:5vw;
      padding-right:5vw;
      height:100%;
      overflow:auto;
      }
      #bottomb {
      border:1px solid black;
      border-top:0px;
      }
      .sides{
      border-left:1px solid black;
      border-right:1px solid black;
      }
      .labelm{
      border-right:1px solid black;
      border-bottom:1px solid black;
      border-top:1px solid black;
      }
      .labelml {
      border-bottom:1px solid black;
      border-top:1px solid black;
      }
      #message {
      margin-bottom:2vh;
      margin-top:2vh;
      text-align:center;
      }
  body
    script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js')
    
    #search.container(stle='padding:0px;margin:0px; width:100%;')
      .row(style='margin-top: 10vh; border: 1px solid black; border-bottom: 0px;')
        .col-xs-12
          h2 Цена
      #pp.row.sides
        #p1.col-xs-3.labelm
          h5 Все
        #p2.col-xs-3.labelm
          h5 &lt1500
        #p3.col-xs-3.labelm
          h5 1500-3000
        #p4.col-xs-3.labelml
          h5 &gt3000
      .row.sides
        .col-xs-12
          h2 Относительно центра (близко - далеко)
      #cc.row.sides
        #c1.col-xs-3.labelm
          h5 Все
        #c2.col-xs-3.labelm
          h5 1
        #c3.col-xs-3.labelm
          h5 2
        #c4.col-xs-3.labelm
          h5 3
      .row.sides
        .col-xs-12
          h2 Девочки\мальчики в отдельных комнатах
      #dd.row.sides
        #d1.col-xs-6.labelm
          h5 не важно
        #d2.col-xs-6.labelml
          h5 Раздельно
      .row.sides
        .col-xs-12
          h2 wifi
      #ww.row.sides
        #w1.col-xs-6.labelm
          h5 не важно
        #w2.col-xs-6.labelml
          h5 есть
      .row.sides
        .col-xs-12
          h2 Парковка
      #zz.row.sides
        #z1.col-xs-6.labelm
          h5 не важно
        #z2.col-xs-6.labelml
          h5 есть
      .row(style='margin-top: 3vh; margin-bottom: 7vh;')
        .col-xs-4(style='text-align:left;margin-left:0px;padding-left:0px;')
          button#findback(style='background-color:transparent; border-radius: 4px; border: 1px solid black;', )
            h5(style='font-size: 3vw; font-family: attentica; letter-spacing: 2px; margin: 0px; margin-left: 2vw; margin-right: 2vw; margin-top: 0.4vh;') НАЗАД
        .col-xs-4(style='text-align: center;')
          button#find(style='background-color: #00b74a; border-radius: 4px; border: 1px solid black;', )
            h5(style='font-size: 3vw; font-family: attentica; letter-spacing: 2px; color: white; margin: 0px; margin-left: 2vw; margin-right: 2vw; margin-top: 0.4vh;') НАЙТИ
      
    #login.container
      .row
        #message.col-xs-12
      .row
        .col-xs-6.col-xs-offset-3  
          form#entform(role='form', action='/check', method='post')
            .row
              .col-xs-6
                h5(style='color: white;') Почта
              .col-xs-6
                input(type='text',id='vlgn', name='vlgn',style='margin-bottom:1vh;background-color:transparent;border-1px solid white;')
            .row
              .col-xs-6
                h5(style='color: white;') Пароль
              .col-xs-6
                input(type='password',id='vphr', name='vphr',style='background-color:transparent;border-1px solid white;')
            .row(style='text-align: left; margin-top: 2vh;')
              .col-xs-4(style='padding: 0px; margin: 0px;')
                button#loginb(type='button', style='border-radius: 4px; border: 1px solid white; background-color: transparent; margin-left: 15px;')
                  h5(style='color: white; margin: 0.7vw;')  войти
              .col-xs-8(style='margin: 0px; padding: 0px;')
                button#regb(type='button',style='border-radius: 4px; border: 1px solid white; background-color: transparent; margin-left: 2vw;')
                  h5(style='color: white; margin: 0.7vw;')  Регистрация
        
    #main.container(style='padding:0px;margin:0px; width:100%;')
      #header.row
        .col-xs-12
          .row
            .col-xs-4.col-xs-offset-4
              h1
                | TOP
                span(style='color: #ff9900;') &
                | VIEWS
            .col-xs-2.col-xs-offset-2(style='padding-top: 0.67em;')
              
          #choice.row
            .col-xs-4.col-xs-offset-4
              h3(style='display: inline;') 3D ТУРЫ И РЕЙТИНГИ
      #choice1.row
        .col-xs-12(style='padding: 0px; margin: 0px;')
          #mapitself.map
      #footer.row
        #searchbutton.col-xs-2.col-xs-offset-2
          h5 Поиск
        #topbutton.col-xs-2
          h5 Рейтинг
        #loginbutton.col-xs-2
          h5 Войти
        #aboutbutton.col-xs-2
          h5 О проекте

    //
       jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    //
       Include all compiled plugins (below), or include individual files as needed 
    script(src='/bootstrap/js/bootstrap.min.js')
    script.
      var map = L.mapbox.map('mapitself', 'jesusjesus.ie7kb67o').setView([55.753,  37.622], 14);
      var myLayer = L.mapbox.featureLayer().addTo(map);
      //myLayer.on('layeradd', function(e) {
      //var marker = e.layer,
      //feature = marker.feature;
      //// Create custom popup content
      //var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.url + '">'+ feature.properties.title +'</a>';
      //// http://leafletjs.com/reference.html#popup
      //marker.bindPopup(popupContent,{
      //closeButton: true,
      //minWidth: 320
      //});
      //});
      // The GeoJSON representing the two point features
      var geojson = {
      type: 'FeatureCollection',
      features: [{
      type: 'Feature',
      properties: {
      title: '<a href="http://en.wikipedia.org/wiki/Washington,_D.C."><h5>Washington, D.C.</h5></a>',
      'marker-color': '#f86767',
      'marker-size': 'large',
      'marker-symbol': 'star',
      url: 'http://en.wikipedia.org/wiki/Washington,_D.C.'
      },
      geometry: {
      type: 'Point',
      coordinates: [37.594493,55.769543]
      }
      }]
      };
      myLayer.setGeoJSON(geojson);
      //myLayer.on('click', function(e) {
      //e.layer.unbindPopup();
      //window.open(e.layer.feature.properties.url);
      //});
      map.scrollWheelZoom.disable();
      //MAP END
      var criteriaOne=0;
      var criteriaTwo=0;
      var criteriaThree=0;
      var criteriaFour=0;
      var criteriaFive=0;
      var count=0;
      var scount=0;
      $("#loginbutton").click(function(){
      if (count%2 === 0){
      $("#login").css({'display':'block'});
      $('#main').css({'-webkit-filter':'blur(4px)'});
      count++
      }
      else {
      $("#login").css({'display':'none'});
      $('#main').css({'-webkit-filter':'blur(0)'});
      count++
      }
      });
      $("#topbutton").click(function(){
      if (count%2 === 0){
      $("#login").css({'display':'block'});
      $('#main').css({'-webkit-filter':'blur(4px)'});
      count++
      }
      else {
      $("#login").css({'display':'none'});
      $('#main').css({'-webkit-filter':'blur(0)'});
      count++
      }
      });
      $("#mapitself").mousedown(function(){
      if(count%2 !=0)
      {
      $("#login").css({'display':'none'});
      $('#main').css({'-webkit-filter':'blur(0)'});
      count++
      }
      else {
      }
      });
      $('#header').mousedown(function(){
      if(count%2 !=0)
      {
      $("#login").css({'display':'none'});
      $('#main').css({'-webkit-filter':'blur(0)'});
      count++
      }
      else {
      }
      });
      $('#footer').mousedown(function(){
      if(count%2 !=0)
      {
      $("#login").css({'display':'none'});
      $('#main').css({'-webkit-filter':'blur(0)'});
      count++
      }
      else {
      }
      });
      $("#findback").click(function(){
      $("#search").css({'display':'none'});
      $('#main').css({'-webkit-filter':'blur(0)'});
      scount++
      });
      $("#searchbutton").click(function(){
      if (scount%2 === 0){
      $("#search").css({'display':'block'});
      $('#main').css({'-webkit-filter':'blur(5px)'});
      scount++
      }
      else {
      $("#search").css({'display':'none'});
      $('#main').css({'-webkit-filter':'blur(0)'});
      scount++
      }
      });
      // OPTIONS FOR SEARCH
      $("#p1").click(function(){
      criteriaOne = 0;
      $("#pp").children().css({"background-color":"transparent"});
      $("#pp").find("h5").css({"color":"black"});
      $("#p1").css({"background-color":"black"});
      $("#p1").children().css({"color":"white"});
      });
      $("#p2").click(function(){
      criteriaOne = 1;
      $("#pp").children().css({"background-color":"transparent"});
      $("#pp").find("h5").css({"color":"black"});
      $("#p2").css({"background-color":"black"});
      $("#p2").children().css({"color":"white"});
      });
      $("#p3").click(function(){
      criteriaOne = 2;
      $("#pp").children().css({"background-color":"transparent"});
      $("#pp").find("h5").css({"color":"black"});
      $("#p3").css({"background-color":"black"});
      $("#p3").children().css({"color":"white"});
      });
      $("#p4").click(function(){
      criteriaOne = 3;
      $("#pp").children().css({"background-color":"transparent"});
      $("#pp").find("h5").css({"color":"black"});
      $("#p4").css({"background-color":"black"});
      $("#p4").children().css({"color":"white"});
      });
      $("#p5").click(function(){
      criteriaOne = 4;
      $("#pp").children().css({"background-color":"transparent"});
      $("#pp").find("h5").css({"color":"black"});
      $("#p5").css({"background-color":"black"});
      $("#p5").children().css({"color":"white"});
      });
      $("#c1").click(function(){
      criteriaTwo = 0;
      $("#cc").children().css({"background-color":"transparent"});
      $("#cc").find("h5").css({"color":"black"});
      $("#c1").css({"background-color":"black"});
      $("#c1").children().css({"color":"white"});
      });
      $("#c2").click(function(){
      criteriaTwo = 1;
      $("#cc").children().css({"background-color":"transparent"});
      $("#cc").find("h5").css({"color":"black"});
      $("#c2").css({"background-color":"black"});
      $("#c2").children().css({"color":"white"});
      });
      $("#c3").click(function(){
      criteriaTwo = 2;
      $("#cc").children().css({"background-color":"transparent"});
      $("#cc").find("h5").css({"color":"black"});
      $("#c3").css({"background-color":"black"});
      $("#c3").children().css({"color":"white"});
      });
      $("#c4").click(function(){
      criteriaTwo = 3;
      $("#cc").children().css({"background-color":"transparent"});
      $("#cc").find("h5").css({"color":"black"});
      $("#c4").css({"background-color":"black"});
      $("#c4").children().css({"color":"white"});
      });
      $("#d1").click(function(){
      criteriaThree = 0;
      $("#dd").children().css({"background-color":"transparent"});
      $("#dd").find("h5").css({"color":"black"});
      $("#d1").css({"background-color":"black"});
      $("#d1").children().css({"color":"white"});
      });
      $("#d2").click(function(){
      criteriaThree = 1;
      $("#dd").children().css({"background-color":"transparent"});
      $("#dd").find("h5").css({"color":"black"});
      $("#d2").css({"background-color":"black"});
      $("#d2").children().css({"color":"white"});
      });
      $("#w1").click(function(){
      criteriaFour = 0;
      $("#ww").children().css({"background-color":"transparent"});
      $("#ww").find("h5").css({"color":"black"});
      $("#w1").css({"background-color":"black"});
      $("#w1").children().css({"color":"white"});
      });
      $("#w2").click(function(){
      criteriaFour = 1;
      $("#ww").children().css({"background-color":"transparent"});
      $("#ww").find("h5").css({"color":"black"});
      $("#w2").css({"background-color":"black"});
      $("#w2").children().css({"color":"white"});
      });
      $("#z1").click(function(){
      criteriaFive = 0;
      $("#zz").children().css({"background-color":"transparent"});
      $("#zz").find("h5").css({"color":"black"});
      $("#z1").css({"background-color":"black"});
      $("#z1").children().css({"color":"white"});
      });
      $("#z2").click(function(){
      criteriaFive = 1;
      $("#zz").children().css({"background-color":"transparent"});
      $("#zz").find("h5").css({"color":"black"});
      $("#z2").css({"background-color":"black"});
      $("#z2").children().css({"color":"white"});
      });
      $("#regb").click(function(){
      location.href = "/rrregisterrr";
      });
      //BARBARIC
      jQuery(function($) { $.extend({
      form: function(url, data, method) {
      if (method == null) method = 'POST';
      if (data == null) data = {};
      var form = $('<form>').attr({
      method: method,
      action: url
      }).css({
      display: 'none'
      });
      var addData = function(name, data) {
      if ($.isArray(data)) {
      for (var i = 0; i < data.length; i++) {
      var value = data[i];
      addData(name + '[]', value);
      }
      } else if (typeof data === 'object') {
      for (var key in data) {
      if (data.hasOwnProperty(key)) {
      addData(name + '[' + key + ']', data[key]);
      }
      }
      } else if (data != null) {
      form.append($('<input>').attr({
      type: 'hidden',
      name: String(name),
      value: String(data)
      }));
      }
      };
      for (var key in data) {
      if (data.hasOwnProperty(key)) {
      addData(key, data[key]);
      }
      }
      return form.appendTo('body');
      }
      }); });
      $('#find').click(function(){
      $.form('/search', { price: criteriaOne, ctype: criteriaTwo, mixgenders : criteriaThree, wifi : criteriaFour, parking : criteriaFive }).submit();
      });
      $('#loginb').click(function(req,res){
      var vlgn = $('#vlgn').val();
      var vphr = $('#vphr').val();
      console.log(vlgn +" , "+vphr);
      request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if (this.readyState === DONE){
      var index;
      parsed = JSON.parse(request.responseText);
      console.log(parsed);
      if(parsed.trouble === 1)
      {
      console.log('TROUBLE === 1');
      switch (parsed.mtext){
      case('db'):
      $('#message').empty();
      $('#message').append("<h5 style='color:#fc454e;'>Sorry, omething is slightly off with the DB, try again in a couple of minutes or contact support</h5>");
      break;
      case('wrong pas'):
      $('#message').empty();
      $('#message').append("<h5 style='color:#fc454e;'>Wrong password</h5>");
      break;
      case('wronguser'):
      $('#message').empty();
      $('#message').append("<h5 style='color:#fc454e;'>Wrong email</h5>");
      break;
      }}
      else {
      //trouble === 0
      window.location = 'http://topandviews.ru';
      }
      }
      };
      request.open('POST', '/check', true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      request.send("phr="+vphr+"&lgn="+vlgn);
      });
