html 
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top&Views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css', rel='stylesheet')
    
    style
     :css
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      h1 {
      font-family:attentica;
      font-size:10vw;
      border-bottom:1px solid #333;
      display:inline;
      }
      .container{
      padding:0px;
      margin:0px;
      width:100%;
      }
      .row{
      padding:0px;
      margin:0px;
      width:100%;
      }
      h3{
      font-family:br;
      }
      #header{
      text-align:center;
      }
      #choice{
      text-align:center;
      margin-bottom:5vh;
      }
      #choice1{
      text-align:center;
      }
      .map{
      height:400px;
      width:100%;
      background-color:#ddd;
      margin-right:auto;
      margin-left:auto;
      }
      .search {
      background-color:#ddd;
      width:600px;
      margin-right:auto;
      margin-left:auto;
      border:1px solid #333;
      margin-bottom:5vh;
      }
      #footer{
      text-align:center;
      margin-top:5vh;
      margin-bottom:3vh;
      }
  body
    script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js')
    .container
      #header.row
        .col-xs-12
          h1
            | TOP
            span(style='color: #ff9900;') &
            | VIEWS
      #choice.row
        .col-xs-12
          h3(style='display: inline;') 3D ТУРЫ ХОСТЕЛОВ В МОСКВЕ
      .row
        .col-xs-4.col-xs-offset-4
          form(role='search')
            input.form-control(style='background-color: #ddd;')
            span.glyphicon.glyphicon-search(style='color: black; right: -29vw; top: -1.8vw; display: inline;')
        #choice1.row
          .col-xs-12(style='padding: 0px; margin: 0px;')
            #mapitself.map
        #footer.row
          .col-xs-2.col-xs-offset-3
            a(style='color: gray;', href='#') О нас
          .col-xs-2
            a(style='color: gray;', href='#') Вакансии
          .col-xs-2
            a(style='color: gray;', href='#') Питание
    
    script.
      var map = L.mapbox.map('mapitself', 'jesusjesus.ie7kb67o').setView([55.753,  37.622], 14);
      map.scrollWheelZoom.disable();
