doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:skinny;
      src: url('/bootstrap/fonts/CODElight.otf');
      }
      body {
      background-color:white;
      min-width:480px;
      }
      .container {
      width:100%;
      padding-top:0px;
      padding:5vw;
      padding-bottom:1vw;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      h2 {
      font-family:this;
      margin-top:0px;
      margin-bottom:0px;
      font-size:4vw;
      color:#333;
      font-weight:100;
      }
      .col-xs-4 {
      text-align:center;
      }
      .col-xs-4:hover{
      background-color:#80aba9;
      }
      a:active, a:hover, a:focus {
      text-decoration:none;
      outline:none;
      }
  body
    .container
      .row(style='margin-top: 10vw;')
        .col-xs-4(style='border-right: 1px solid #333;')
          a(href='/job/office')
            h2 Office
        .col-xs-4(style='border-right: 1px solid #333;')
          a(href='/job/photographer')
            h2 Photo
        .col-xs-4
          a(href='/job/it')
            h2 It
    
