doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      body {
      background-color:white;
      min-width:480px;
      }
      .container {
      width:100%;
      padding-top:0px;
      padding:0px;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      h2 {
      font-family:this;
      margin-top:45vh;
      margin-bottom:0px;
      font-size:10vw;
      color:gray;
      font-weight:100;
      }
      .col-xs-4 {
      text-align:center;
      height:100vh;
      }
      .col-xs-4:hover{
      background-color:#80aba9;
      }
      a:active, a:hover, a:focus {
      text-decoration:none;
      outline:none;
      }
  body
    .container
      .row
        a(href='/job/office')
         .col-xs-4(style='border-right: 0.3vw solid #ddd;')
            h2 Office
        a(href='/job/photographer')    
         .col-xs-4(style='border-right: 0.3vw solid #ddd;')
            h2 Photo
        a(href='/job/it')    
         .col-xs-4
            h2 It
    
