doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      body {
      width:100%;
      height:100%;
      }
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      h4 {
      margin-top:3vh;
      font-family:this;
      font-size:17vh;
      color:#ddd;
      }
      .container {
      padding:0px;
      margin:0px;
      }
      .row {
      padding:0px;
      margin:0px;
      }
      .col-xs-12 {
      padding:0px;
      margin:0px;
      }
      .blue {
      background-color:#2b4140;
      }
      #top {
      height:50vh;
      border-bottom:2vh solid #ddd;
      }
      #bottom {
      border-top:2vh solid #ddd;
      height:50vh;
      }
      .orange {
      background-color:#c35204;
      }
      a:focus, a:hover{
      outline:none;
      text-decoration: none;
      }
  body
    .container
      a(href='http://m.topandviews.ru')
        #top.row.blue
          .col-xs-10
            h4 Мобильная
      a(href='http://www.topandviews.ru')
        #bottom.row.orange
          .col-xs-10
            h4 Полная
   