doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      h4 {
      margin-top:3vh;
      font-family:this;
      font-size:15vh;
      color:#ddd;
      }
      .container {
      padding:0px;
      margin:0px;
      width:100%;
      height:100%;
      }
      .row {
      padding:0px;
      margin:0px;
      }
      .col-xs-12 {
      padding:0px;
      margin:0px;
      }
      .blue {
      background-color:#2b4140;
      height:50vh;
      width:100%
      }
      .orange {
      background-color:#c35204;
      height:50vh;
      width:100%
      }
      #curtain {
      position:absolute;
      display:none;
      height:100%;
      width:100%;
      z-index:7;
      }
      a:focus, a:hover{
      color:#c35403;
      outline:none;
      text-decoration: none;
      }
  body
    .container
      #curtain.row
        .col-xs-12
          a(href='http://m.topandviews.co.uk')
            #upper.row.blue
              .col-xs-12
                h4 Mobile
          a(href='http://topandviews.co.uk/index')
            #lower.row.orange
              .col-xs-12
                h4 Full
    //
       jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //
       Include all compiled plugins (below), or include individual files as needed 
    script(src='/js/bootstrap.min.js')
    script.
      if (screen.width < 768) { $('#curtain').slideToggle("fast") }
      else {location.replace('http://topandviews.co.uk/index')}
