doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top nad views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      .container {
      padding:0px;
      margin:0px;
      }
      .row {
      padding:0px;
      margin:0px;
      }
      .col-xs-12 {
      padding:0px;
      margin:0px;
      margin-left:1vw;
      }
      h2 {
      font-family:this;
      margin-top:0px;
      margin-bottom:0px;
      font-size:20vw;
      color:#333;
      font-weight:100;
      }
      .bb {
      border-bottom:3px solid #ddd;
      background-color:white;
      }
      .orange {
      color:#c35402;
      font-size:12.5vw;
      }
  body
    .container
      .row.bb
        a(href='/ru/geo/moscow')
          .col-xs-12
            h2 Москва
      .row.bb
        a(href='/ru/geo/london')
          .col-xs-12
            h2
              | Лондон
              span.orange *
      .row.bb
        a(href='/ru/geo/stpetersburg')
          .col-xs-12
            h2
              | Санкт-Петербург
              span.orange *
      .row.bb
        a(href='/ru/geo/newyork')
          .col-xs-12
            h2
              | Нью-Йорк
              span.orange *
      .row.bb
        a(href='/ru/geo/loasangeles')
          .col-xs-12
            h2
              | Лос-Анжелес
              span.orange *
      .row
        .col-xs-12
          h2(style='font-size: 10vh; color: #c35402;') *Скоро
   
