doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top nad views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      .container {
      padding:0px;
      margin:0px;
      }
      .row {
      padding:0px;
      margin:0px;
      }
      .col-xs-12 {
      padding:0px;
      margin:0px;
      margin-left:1vw;
      }
      h2 {
      font-family:this;
      margin-top:0px;
      margin-bottom:0px;
      font-size:70px;
      color:#333;
      font-weight:100;
      }
      .bb {
      border-bottom:3px solid #ddd;
      background-color:white;
      }
      .orange {
      color:#c35402;
      font-size:45px;
      }
  body
    .container
      .row.bb
        a(href='/en/geo/moscow')
          .col-xs-12
            h2 Moscow
      .row.bb
        a(href='/en/geo/london')
          .col-xs-12
            h2
              | London
              span.orange *
      .row.bb
        a(href='/en/geo/stpetersburg')
          .col-xs-12
            h2
              | St.petersburg
              span.orange *
      .row.bb
        a(href='/en/geo/newyork')
          .col-xs-12
            h2
              | New York
              span.orange *
      .row.bb
        a(href='/en/geo/loasangeles')
          .col-xs-12
            h2
              | Los Angeles
              span.orange *
      .row.bb
        .col-xs-12
          h2(style='font-size: 45px; color: #c35402;') *Comming soon
   
