doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top nad views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      .container {
      padding:0px;
      margin:0px;
      }
      .row {
      padding:0px;
      margin:0px;
      }
      .col-xs-12 {
      padding:0px;
      margin:0px;
      margin-left:1vw;
      }
      h2 {
      font-family:this;
      margin-top:0px;
      margin-bottom:0px;
      font-size:70px;
      color:#333;
      font-weight:100;
      }
      .bb {
      border-bottom:3px solid #ddd;
      background-color:white;
      }
      #language {
      background-color:#2b4140;
      }
      #showmap {
      cursor:pointer;
      }
  body
    script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js')
    .container
      .row.bb
        a(href='/en/geo')
          .col-xs-12
            h2(style='color: #c35402;') Your city
      .row.bb
        a(href='/en/places')
          .col-xs-12
            h2 Places
      .row.bb
        a(href='/en/property')
          .col-xs-12
            h2 Property & Hotels      
      .row.bb
        a(href='/en/yachtsjets')
          .col-xs-12
            h2 Yachts & Jets      
      .row.bb
        a(href='/en/campuses')
          .col-xs-12
            h2 Campuses      
      #showmap.row
        .col-xs-12
          h2 On map
      #map.row(style='display: none;')
        #mapitself.col-xs-12(style='margin: 0px; width: 100%; padding: 0px; height: 100vh; border-top: 3pxw solid #333; border-bottom: 3px solid #333;')
      #language.row
        a(href='/en/languages')
          .col-xs-3(style='border-right: 3px solid #ddd;')
            h2(style='font-size: 45px; color: white;') Eng
        a(href='http://topandviews.com/index')
          .col-xs-9
            h2(style='font-size: 45px; color: white;') Large screen
      //
         jQuery (necessary for Bootstrap's JavaScript plugins) 
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
      //
         Include all compiled plugins (below), or include individual files as needed 
      script(src='/js/bootstrap.min.js')
      script.
        $('#showmap').click(function() {
        $('#map').slideToggle('slow');
        var map = L.mapbox.map('mapitself', 'jesusjesus.ie7kb67o').setView([55.753,  37.622], 14);
        map.scrollWheelZoom.disable();
        if ($("#map").is(':visible')) {
        $("html, body").animate({scrollTop: $("#map").offset().top});
        }
        });
