doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top nad views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      .container {
      padding:0px;
      margin:0px;
      }
      .row {
      padding:0px;
      margin:0px;
      }
      .col-xs-12 {
      padding:0px;
      margin:0px;
      margin-left:1vw;
      }
      h2 {
      font-family:this;
      margin-top:0px;
      margin-bottom:0px;
      font-size:20vw;
      color:#333;
      font-weight:100;
      }
      .bb {
      border-bottom:0.3vh solid #ddd;
      background-color:white;
      }
      .orange {
      color:#c35402;
      font-size:12.5vw;
      }
  body
    .container
      .row.bb
        a(href='/en')
          .col-xs-12
            h2 English
      .row.bb
        a(href='/ru')
          .col-xs-12
            h2
              | Russian
              
      .row.bb
        a(href='/fr')
          .col-xs-12
            h2
              | French
              
      .row.bb
        a(href='/gr')
          .col-xs-12
            h2
              | German
              
      .row.bb
        a(href='/it')
          .col-xs-12
            h2
              | Italian
              
      .row.bb
        a(href='/sp')
          .col-xs-12
            h2
              | Spanish
                      
      
   
