html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{hostelname}
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    //
       HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    style
     :css
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      h3 {
      font-family:roboto-thin;
      font-size:4vw;
      color:#333;
      letter-spacing:1px;
      }
      h1 {
      font-size:4vw;
      font-family:attentica;
      display:inline;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      h2 {
      font-family:br;
      font-size:2vw;
      }
      #header{
      text-align:left;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      #submit:hover {
      background-color:#64de89;
      }
  body
    .container
      #header.row(style='background-color:#333;')
        .col-xs-12
          h1(style='color:#eee;')  Top 
            span(style='color:#ff9900;') &
          h1(style='color:#eee;')  Views 
            span(style='color:#c35') #{hostel.nameen} 
      .row(style='text-align:center;')
        .col-xs-12(style='border-left:1px solid #ddd;border-right:1px solid #ddd;')
          h2 Добавьте предложения
      .row(style='background-color:#eee')
        .col-xs-12
          .form(role='form',action='/enquery/#{hostel.hostelid',method='post')
            .row
              .col-xs-3.col-xs-offset-3
                h5 Цена
              .col-xs-4
                input(type='text',style='margin:1vh',name='price')
            .row    
              .col-xs-3.col-xs-offset-3
                h5 Количество мест
              .col-xs-4
                input(type='text',style='margin:1vh',name='capacity')
            .row
              .col-xs-4.col-xs-offset-4(style='text-align:center;')
                button(type='submit',style='margin:1vh;border-radius:4px;border:1px solid green;')    
                  h5 Добавить         
    
                  
   
    