
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap 101 Template
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    
  body
    .container
      #header.row
        .col-xs-12
          h1  Orders test
      .row
        .col-xs-2
          form(action='/orders/1/test', method='post', role='form')
            button.form-control(style='background-color: #00ac6b;color:white;', type='submit') TEST SUBMIT
      .row
        .col-xs-6
            h2  from year
            h2  from month
            h2  from day
            h2  to year
            h2  to month
            h2  to day
            h2  Phone is present
            h2  Mail
            h2  Phone
            h2  User is registered
        .col-xs-6
          form(action='/orders/1/1000', method='post', role='form')
            input.form-control(name='fyear', type='text')
            br
            input.form-control(name='fmonth', type='text')
            br
            input.form-control(name='fday', type='text')
            br
            input.form-control(name='toyear', type='text')
            br
            input.form-control(name='tomonth', type='text')
            br
            input.form-control(name='today', type='text')
            br
            input.form-control(name='phonep', type='text')
            br
            input.form-control(name='mail', type='text')
            br
            input.form-control(name='phone', type='text')
            br
            input.form-control(name='registered', type='text')
            br
            button.form-control(style='background-color: red;', type='submit') DATA SUBMIT
        