html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      .container{
      background-color:#eee;
      }
      #header {
      text-align:left;
      background-color:#ddd;
      cursor:pointer;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      h1 {
      font-size:4vw;
      font-family:attentica;
      display:inline;
      }
      input{
      font-family:arial;
      letter-spacing:1px;
      font-size:1.5vw;
      margin:1vh;
      }
  body
    .container
      script.
        function away() {
         window.location='http://topandviews.ru/admin';
        }
      #header.row(style='background-color:#333;',onclick='away()')
        .col-xs-12
          h1(style='color:#eee;')  Top
            span(style='color:#ff9900;') &
          h1(style='color:#eee;') Views 
            span(style='color:#c35') Admin : 
            span(style='color:#e18282') Order Simulation 
      .row
        .col-xs-12(style='text-align:center;')
          form(action='/orders/1/test', method='post', role='form')
            button(style='background-color: #00ac6b;color:white;', type='submit')
              h5 TEST SUBMIT
      .row
        .col-xs-6
          h5  hostelid
          h5  price
          h5  from year
          h5  from month
          h5  from day
          h5  to year
          h5  to month
          h5  to day
          h5  User is registered
        .col-xs-6
          form(action='/orders/simulate', method='post', role='form')
            input(name='hostel', type='text')
            br
            input(name='price', type='text')
            br
            input(name='fyear', type='text')
            br
            input(name='fmonth', type='text')
            br
            input(name='fday', type='text')
            br
            input(name='toyear', type='text')
            br
            input(name='tomonth', type='text')
            br
            input(name='today', type='text')
            br
            input(name='registered', type='text')
            br
            button(style='background-color: red;', type='submit') 
              h5 DATA SUBMIT
        