doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:skinny;
      src: url('/bootstrap/fonts/CODElight.otf');
      }
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      body {
      background-color:white;
      min-width:480px;
      }
      .container {
      width:100%;
      padding-top:0px;
      padding:5vw;
      padding-bottom:1vw;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      #header {
      border-bottom:1px solid #333;
      background-color: #2b4140;
      }
      h5 {
      font-family:skinny;
      font-size:7vw;
      color:#333;
      padding:0px;
      }
      h2 {
      font-family:this;
      margin-top:0px;
      margin-bottom:0px;
      font-size:4vw;
      color:#333;
      font-weight:100;
      }
      a:active, a:hover, a:focus {
      text-decoration:none;
      outline:none;
      }
      #infoblock {
      background-color:#ddd;
      padding:2vw;
      }
      #jobptype h2 {
      color:gray;
      }
      #photographer {
      background-color:#80aba9;
      }
      #office:hover {
      background-color:#80aba9;
      }
      #it:hover {
      background-color:#80aba9;
      }
      ul {
      margin-top:1vw;
      margin-bottom:1vw;
      border-top:1px solid gray;
      border-bottom:1px solid gray;
      }
      .important {
      background-color:#ff3333;
      color:white;
      }
  body
    .container
      .row
        #header.col-xs-12
          h5(style='color: white;') Job
      #jobtype.row
        #photographer.col-xs-4(style='border-right: 1px solid gray;')
          a(href='/job/photographer')
            h2 Photographer
        #office.col-xs-4(style='border-right: 1px solid gray;')
          a(href='/job/office')
            h2 Office
        #it.col-xs-4
          a(href='/job/it')
            h2 It
      #infoblock.row
        .col-xs-12
          h2
            | We need photographers based in major cities of
            span.important  North America, Europe, Asia
            | regions. Payment is per assignment, by bank or electronic currensy, think of this as of
            span.important freelance type of job
            | . Skills we are looking for:
            ul
              li
                | Understanding of panoramic photography, ability to produce material valid for stiching.
              li
                | Image processing, nothing heavy though. Images must be sexy, although representing the reality.
              li Ability to work in difficult light condions.
              li
                | Good sense of taste. Image processing is not the key to good photography, we trust you with decisions you take on the spot to make best possible photos.
            h2
              | Please send us an email with theme starting with
              span.important
                | the word 'Photographer', country, city, and the word 'mobile' if you are ok with taking trips to nearby cities
              | .Add
              span.important four jpeg files
              | of your interior photography, two of which done in difficult light conditions as
              span.important significantly dimmed light (compulsory)
              | or flashing lights.
              | You will recieve conformation upon us adding you to our database, and will be contacted with assignments.
          .row
            div(calss='col-xs-12', style='text-align: center;')
              h2(style='margin-top: 1vw; padding-top: 1vw; border-top: 1px solid gray;') job@topandviews.com
   
