doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap 101 Template
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:skinny;
      src: url('/bootstrap/fonts/Intro-Thin-Caps.ttf');
      }
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      body {
      background-color:white;
      min-width:480px;
      }
      .container {
      width:100%;
      padding:0px;
      padding-top:0px;
      padding-bottom:1vw;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      h1 {
      font-family:skinny;
      font-size:11vw;
      color:#333;
      padding:0px;
      text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
      }
      h5 {
      font-family:skinny;
      font-size:7vw;
      color:#333;
      padding:0px;
      }
      h3 {
      font-family:this;
      font-size:7vw;
      color:#333;
      padding:0px;
      }
      h2 {
      font-family:this;
      margin-top:1vw;
      margin-bottom:1vw;
      font-size:4vw;
      color:gray;
      font-weight:100;
      }
      h4{
      font-size:2.8vw;
      font-family:this;
      }
      h6 {
      background-color:#fc0;
      font-family:this;
      margin-top:auto;
      margin-bottom:1vw;
      font-size:14vw;
      color:white;
      font-weight:100;
      display:inline;
      }
      .center {
      text-align:center;
      }
      span {
      margin-right:100px;
      }
      a {
      color:white;
      }
      a:focus, a:hover{
      color:#c35403;
      outline:none;
      text-decoration: none;
      }
      .col-xs-3 {
      padding-right:1vw;
      padding-left:1vw;
      }
      .col-xs-2 {
      padding:0px;
      }
      .col-lg-4 {
      padding:0px;
      }
      .col-lg-8 {
      padding:0px;
      }
      .col-xs-12 {
      padding:0px;
      }
      #places {
      cursor:pointer;
      }
      #places:hover h5 {
      color:white;
      }
      #places:hover {
      background-color:#c35204;
      }
      .bb {
      border-bottom:0.3vw solid #ddd;
      background-color:white;
      }
      .bt {
      border-top:0.3vw solid #ddd;
      }
      input
      {
      font-family:this;
      font-size:4vw;
      }
      .form-group {
      margin-top:1vw;
      }
      .btn-lg {
      border-radius:0px;
      height:inherit;
      background-color:#dde6f2;
      border:0px;
      padding:0px;
      }
      .space {
      height:2.5vw;
      }
      .col-xs-5 {
      padding:0px;
      }
      .col-xs-6 {
      text-align:center;
      }
      #restprop {
      background-color:#ddd;
      display:none;
      }
      #showmap {
      background-color: white;
      cursor:pointer;
      }
      .gray {
      background-color:#ddd;
      }
      .darkgray {
      background-color:gray;
      }
      .triangle {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0;
      height: 0;
      border-left: 4vw solid transparent;
      border-right: 4vw solid transparent;
      border-bottom: 5vw solid gray;
      z-index: 0;
      font-size:0;
      line-height:0;
      }
      label {
      font-family:this;
      font-size:3vw;
      color:gray;
      }
      select  {
      font-family:this;
      font-size:5vw;
      }
      #cityselect {
      background-color:#84ace0;
      }
      #advsearch {
      background-color:#a6c6ef;
      }
      #byname {
      background-color:#a6c6ef;
      }
      .middle {
      background-color:#a6c6ef;
      }
      .green {
      background-color:#81ea93;
      }
      .lightgreen {
      background-color:#b8f4c3;
      }
      .sidepadding {
      padding-left:1vw;
      padding-right:1vw;
      }
      .sidemargin {
      margin-left:1vw;
      margin-right:1vw;
      }
      .fivemargin {
      margin-right:5vw;
      margin-left:5vw;
      }
      .sixmargin {
      margin-left:6vw;
      margin-right:6vw;
      }
      .graything {
      color:#ddd;
      margin:0px;
      }
  body
    .container
      script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js')
      #places.row.bb.fivemargin
        .col-xs-2
          a(href='/#{lang}')
            span.glyphicon.glyphicon-chevron-left(style='color: #ddd; font-size: 5vw; margin: 1vw;')
        .col-xs-8(style='text-align: center;')
          a(href='/#{lang}')
            h5(style='Display: inline;') Места
        .col-xs-2
      #search.row.sixmargin
        .col-xs-12
          form(role='form' method='post' action='/placesru')
            #cityselect.row.sidepadding
              .col-xs-12
                .form-group(style='margin-bottom: 1vw;')
                  label(for='city')
                    h2 City:
                  select#city(name='city')
                    option(value='moscow') Москва
                    option(value='london') Лондон
                    option(value='stpetersburg') Санкт-Петербург
                    option(value='newyork') Нью-Йорк
                    option(value='losangeles') Лос-Анжелес
            #byname.row.sidepadding
              .form-group(style='margin-bottom: 0px;')
                label(for='searchbox')
                  h2 По названию:
                input#searchbox(type='text',name='searchbox')
      .row.middle.sidemargin.sidepadding.sixmargin
        .col-xs-5
          .row.bb.space.middle
          .row.space
        .col-xs-2.middle(style='text-align: center;')
          h2(style='color: #c35204; margin: 0px;') Or
        .col-xs-5
          .row.bb.space.middle
          .row.space
      .row.middle.sidepadding.sidemargin.sixmargin
        .col-xs-12
          h2(style='margin: 0px;') По типу:
      #types.row.sixmargin
        .col-xs-6.middle
          .form-group(style='margin-top: 0px; margin-bottom: 0px;')
            label(for='fitness')
              h2(style='color: #333;') Фитнес
            input#fitness(type='checkbox',name='fitness')
          .form-group(style='margin-top: 0px; margin-bottom: 0px;')
            label(for='mealdrink')
              h2(style='color: #333;') 
                | Поесть
                span.graything &
                | Выпить
            input#mealdrink(type='checkbox',name='mealdrink')
        .col-xs-6.middle
          .form-group(style='margin-top: 0px; margin-bottom: 0px;')
            label(for='coworking')
              h2(style='color: #333;') Co-working
            input#coworking(type='checkbox',name='coworking')
          .form-group(style='margin-top: 0px; margin-bottom: 0px;')
            label(for='beauty')
              h2(style='color: #333;')
                | Салоны красоты
                span.graything &
                | SPA
            input#beauty(type='checkbox',name='beauty')
      #restprop.row.sidemargin.sixmargin
        .col-xs-12
          .row.middle
            .col-xs-1.col-xs-offset-2(style='height: 3vw;')
              .triangle
          .row
            .col-xs-6.darkgray
              .form-group
                label(for='rooftop')
                  h2(style='color: #333;') На крыше
                input#rooftop(type='checkbox',name='rooftop')
              .form-group
                label(for='terrace')
                  h2(style='color: #333;') С террасой
                input#terrace(type='checkbox',name='terrace')
            .col-xs-6.darkgray
              .form-group
                label(for='cigars')
                  h2(style='color: #333;') Курить сигары
                input#cigars(type='checkbox',name='cigars')
              .form-group
                label(for='shisha')
                  h2(style='color: #333;') Курить кальян
                input#shisha(type='checkbox',name='shisha')
          .row.middle(style='height: 1vw;')
      .row.middle.sidemargin.sixmargin(style='padding: 1vw; padding-top: 0vw;')
        .col-xs-12
          button.btn-lg.form-control(type='submit')
            h2(style='color: #c35204;')  Find it
      #showmap.row.fivemargin.bt
        .col-xs-10
          h5(style='display: inline;') На карте
        .col-xs-2
          span.glyphicon.glyphicon-chevron-down(style='font-size: 5vw; margin: 1vw; color: gray;')
      #map.row(style='display: none; text-align: center;')
        .col-xs-12(style='height: 100vh; padding: 0px;')
         
          .row
            #mapitself.col-xs-12(style='border-top: 0.3vw solid #333; border-bottom: 0.3vw solid #333; margin: 0px; padding: 0px; height: 100vh;')
      #footer.row.fivemargin.bt
        .col-xs-12(style='text-align: center;')
          a(style='color: gray;', href='/#{lang}')
            h4(style='font-weight: lighter;') Top and views.
    //
       jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //
       Include all compiled plugins (below), or include individual files as needed 
    script(src='/js/bootstrap.min.js')
    script.
      $('#mealdrink').click(function() {
      $('#restprop').slideToggle('slow');
      if ($("#restprop").is(':visible')) {
      $("html, body").animate({scrollTop: $("#restprop").offset().top});
      }
      });
      $('#showmap').click(function() {
      $('#map').slideToggle('slow');
      var map = L.mapbox.map('mapitself', 'jesusjesus.ie7kb67o').setView([55.753,  37.622], 14);
      map.scrollWheelZoom.disable();
      if ($("#map").is(':visible')) {
      $("html, body").animate({scrollTop: $("#map").offset().top});
      }
      });
