doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style
      :css
        @font-face {
        font-family:skinny;
        src: url('bootstrap/fonts/longname/texgyreadventor-regular.otf');
        }
        body {
        background-color:gray;
        min-width:480px;
        }
        .container {
        width:100%;
        padding:0px;
        margin:0px;
        }
        .row {
        margin:0px;
        padding:0px;
        }
        .col-xs-12 {
        padding:0px;
        }
        .xs12add {
        padding:none;
        background-color:gray;
        padding:0px;
        }
        .fcextra {
        height:7vw;
        border-radius:0px;
        text-align:left;
        background-color:gray;
        border:none;
        font-family:skinny;
        font-size:6vw;
        box-shadow:none;
        outline: none;
        border-bottom:1px solid white;
        padding:0px;
        color:#333;
        }
        .form-control {
        }
        input {
        background-color:#c35403;
        padding-top:2px;
        padding-bottom:2px;
        }
        .form-control:focus {
        border-bottom:1px solid white;
        box-shadow:none;
        outline: none;
        }
        .form-control:active {
        box-shadow:none;
        outline: none;
        }
        .form-group {
        height:7vw;
        text-align:right;
        margin-bottom:-20px;
        }
        .rust {
        margin:auto;
        color:white;
        text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
        }
        .placename{
        }
        .preview{
        }
        .center {
        text-align:center;
        }
        a {
        color:white;
        }
        a:focus, a:hover{
        color:#ff9600;
        outline:none;
        }
        h2 {
        font-family:skinny;
        font-size:6vw;
        }
        img {
        border-bottom:1px solid white;
        }
  body
    //
      <div class='navbar navbar-default navbar-fixed-top'>
          </div>
    .container
      #searchinput.row(style='position: fixed; width: 100%; z-index: 7;')
        .col-xs-12.xs12add
          form(role='form', action='/search', method='post', name='search')
            .form-group.has-feedback
              input.form-control.fcextra(type='text',name='search', autofocus='autofocus')
              span.glyphicon.glyphicon-search.from-control-feedback.rust(style='margin-right: 5px; top: -6vw; font-size: 5vw;')
      .row.blank(style='height: 10vw;')

      each place, i in searchresults  
        .row.searchresults
          .col-xs-12
            .row.center
              .col-xs-12.center.placename
                a(href='#{place.ppredir}')
                  h2 #{place.placename}
            .row.center
              .col-xs-12.center.preview
                a(href='#{place.ppredir}')
                  img(src='bootstrap/images/#{place.placename}preview.jpg')
    //
       jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //
       Include all compiled plugins (below), or include individual files as needed 
    script(src='js/bootstrap.min.js')
