doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Authorised only
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    style
     :css
      body {
      min-width:480px;
      }
      .container {
      width:100%;
      padding:5vw;
      }
      #authform {
      margin-top:20vw;
      text-align:center;
      }
      #message {
      text-align:center;
      }
      #login {
      margin-right:0.5vw;
      }
      .btn-default {
      border-radius:0px;
      margin-left:0.5vw;
      }
  body
    .container
      #authform.row
        .col-xs-12
          form(role='form', action='/uploadauth', method='post')
            input#login(type='text', name='login')
            input#pass(type='text', name='password')
            button.btn-default(type='submit') Enter

      
