html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title UPLOAD
    //
       Bootstrap 
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body
    .container
      .row
        .col-xs-12(style='text-align: center; margin-top: 48vh;')
          form(role='form', action='/uploadauth', method='post')
            input(type='text', name='password')
            input(type='text', name='login')
            .row
              button(type='submit')  SUBMIT

    